* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}

html {
    font-size: 62.5%;
    scroll-behavior: smooth;
}

body {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    flex-wrap: wrap;

}

:root {
    --primary-color: #2ecc71;/ --dark-bg: #1a1a1a;
    --light-text: #f4f4f4;
    --accent-color: #e74c3c;
    --color-boxing: #e74c3c;
    --color-dance: #9b59b6;
    --color-gym: #3498db;
    --bg-panel: #1a1a1a;
}


.header-main {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1.2rem 5%;
    background: rgba(0, 0, 0, 0.95);
    position: sticky;
    top: 0;
    z-index: 1000;
    color: white;
}

.header-logo {
    font-size: 1.5rem;
    font-weight: bold;


    .text_primary {
        text-decoration: none;
        color: white;
    }

}

.nav-list {
    display: flex;
    list-style: none;
    gap: 25px;
}

.nav-link {
    color: var(--text-main);
    text-decoration: none;
    font-size: 1.5rem;
    transition: 0.3s;
}

.nav-link:hover {
    color: var(--primary);
}

/* Tarjetas de Macros */
.macro-card {   
    background: #111;
    padding: 30px;
    border-radius: 20px;
    border: 1px solid #222;
    text-align: center;
    transition: 0.3s ease;
    color: white;
    margin-top: 10px;
}

.section-title {
    text-align: center;
    font-size: 2.5rem;
    margin-bottom: 40px;
    color: black;
}

.macro-card:hover {
    border-color: white;
    transform: translateY(-5px);
}

.macro-header {
    display: flex;
    align-items: center;
    gap: 15px;
    margin-bottom: 15px;
}

.macro-icon {
    font-size: 2rem;

}


.progress-container {
    background: #222;
    height: 10px;
    border-radius: 5px;
    margin-top: 20px;
    color: white;
}

.progress-bar {
    height: 100%;
    border-radius: 5px;
    background: var(--primary);
}

.p-proteina {
    width: 85%;
    background: red;
}

.p-carbos {
    width: 65%;
    background: #f1c40f;
}

.p-grasas {
    width: 45%;
    background: #3498db;
}



.food-table {
    max-width: 900px;
    margin: 0 auto;
    background: #111;
    border-radius: 15px;
    overflow: hidden;
    border: 1px solid #222;
    color: white;
}

.food-row {
    display: grid;
    grid-template-rows: 1fr 1fr 1fr;
    padding: 20px;
    border-bottom: 1px solid #222;
    align-items: center;
    color: white;
}

.header-row {
    background: #1a1a1a;
    font-weight: bold;
    color: var(--primary);
}

.tag-proteina,
.tag-carbo,
.tag-grasa {
    padding: 5px 10px;
    border-radius: 5px;
    font-size: 0.75rem;
    font-weight: bold;
    width: fit-content;
    color: white;
}

.tag-proteina {
    background: red;
}

.tag-carbo {
    background: #f1c40f;
}

.tag-grasa {
    background: #3498db;
}


.text-muted {
    color: #888;
    font-size: 1.5rem;
}

.section-recipes {
    padding: 60px 5%;
    max-width: 1200px;
    margin: 0 auto;
}

.recipes-header {
    text-align: center;
    margin-bottom: 40px;
}

/* Filtros */
.recipe-filters {
    display: flex;
    justify-content: center;
    gap: 15px;
    margin-top: 25px;
    flex-wrap: wrap;
}

.filter-btn {
    background: transparent;
    border: 1px solid #333;
    color: black;
    padding: 10px 25px;
    border-radius: 30px;
    cursor: pointer;
    font-weight: 600;
    transition: all 0.3s ease;
}

.filter-btn:hover {
    border-color: var(--primary);
    color: var(--primary);
    box-shadow: 0 5px 15px black;
}

.filter-btn.active {
    background: var(--primary);
    color: #000;
    border-color: var(--primary);
}

/* Grid de Tarjetas */
.recipes-grid {
    display: flex;
    flex-direction: column;
    gap: 30px;
    align-items: center;
}


.recipe-card {
    background: #111;
    border-radius: 15px;
    border: 1px solid #222;
    overflow: hidden;
    transition: transform 0.3s ease, border-color 0.3s ease;
    display: flex;
    flex-direction: column;
    width: 500px;
}

.recipe-card:hover {
    transform: translateY(-5px);
    border-color: #444;
}

.recipe-img-placeholder {
    height: 150px;
    background: #1a1a1a;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 4rem;
    border-bottom: 1px solid #222;
}

.recipe-content {
    padding: 25px;
    flex-grow: 1;
    display: flex;
    flex-direction: column;
    font-size: 1.2rem;
}

.recipe-tag {
    align-self: flex-start;
    font-size: 0.90rem;
    padding: 4px 10px;
    border-radius: 5px;
    margin-bottom: 15px;
    font-weight: bold;
    color: #000;
}

.recipe-title {
    color: #fff;
    margin-bottom: 10px;
    font-size: 1.5rem;
    list-style: none;
}

.recipe-desc {
    color: #888;
    font-size: 1.2rem;
    line-height: 1.5;
    margin-bottom: 20px;
    flex-grow: 1;
}

.recipe-macros {
    list-style: none;
    padding: 0;
    display: flex;
    gap: 15px;
    border-top: 1px solid #222;
    padding-top: 15px;
    font-size: 0.85rem;
    color: #bbb;
}

.recipe-macros li {
    background: #1a1a1a;
    padding: 5px 10px;
    border-radius: 5px;
}

/* Botón de compartir */
.share-recipe-container {
    text-align: center;
    margin-top: 40px;
}

.btn-share-recipe {
    background: transparent;
    border: 2px solid black;
    color: var(--primary);
    padding: 15px 30px;
    border-radius: 12px;
    cursor: pointer;
    font-weight: bold;
    transition: 0.3s;   
    margin-bottom: 40px;
}

.btn-share-recipe:hover {
    background: var(--primary);
    color: #000;
}

.footer-site {
    background: #050505;
    color: #fff;
    padding: 50px 5% 20px 5%;
    border-top: 1px solid #1a1a1a;
    margin-top: 0;
}

.footer-container {
    max-width: 1200px;
    margin: 0 auto;
    display: grid;
    grid-template-columns: 2fr 1fr 1fr 1fr;
    gap: 20px;
    margin-bottom: 50px;
}

.footer-logo {
    font-size: 1.8rem;
    font-weight: 800;
    margin-bottom: 20px;
}

.footer-tagline {
    color: #888;
    line-height: 1.6;
    font-size: 1rem;
}

.footer-title {
    font-size: 1.2rem;
    margin-bottom: 25px;
    text-transform: uppercase;
    letter-spacing: 1.5px;
    color: white;
}

.footer-links {
    list-style: none;
    padding: 0;
    font-size: 1rem;
}

.footer-links li {
    margin-bottom: 12px;
}

.footer-links a {
    color: #bbb;
    text-decoration: none;
    transition: 0.3s;
    font-size: 1.2rem;
}

.footer-links a:hover {
    color: var(--primary);
    padding-left: 5px;
}

.social-icons {
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.social-link {
    color: #fff;
    text-decoration: none;
    font-size: 1.2rem;
    transition: 0.3s;
}

.social-link:hover {
    color: var(--primary);
}

.footer-bottom {
    max-width: 1200px;
    margin: 0 auto;
    padding-top: 20px;
    border-top: 1px solid #1a1a1a;
    display: flex;
    justify-content: space-between;
    align-items: center;
    color: #555;
    font-size: 0.85rem;
}

.legal-links {
    display: flex;
    gap: 20px;
}

.legal-links a {
    color: #555;
    text-decoration: none;
}

.legal-links a:hover {
    font-size: 1.2 rem;
    color: #888;
}

@media (max-width: 900px) {
    .plans-container {
        grid-template-columns: 1fr;
    }

    .profile-sidebar {
        order: -1;
    }
}

@media (max-width: 600px) {
    .anatomy-grid {
        grid-template-columns: 1fr;
    }

    .anatomy-content {
        height: 250px;
        order: -1;
    }
}

@media (max-width: 500px) {}



@media (max-width: 768px) {
    .anatomy-grid {
        grid-template-columns: 1fr;
    }

    .anatomy-content {
        height: 250px;
        order: -1;
    }
}